
!/nemu/*
!/python_workspace/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/*
!/预学习/*
!/spinalhdl_nemu/*
!Makefile
!README.md
!.gitignore
!init.sh
/nvboard
/fceux-am
/蜂鸟
/gemmini
/spinalhdl_VexRiscv
